body{
    background-color: rgb(48, 48, 48);
}
p ,h1{
    color: white;
}
img {
  width: 100%;
  height: 300px; 
  object-fit: cover;
  border-radius: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}